<md-toolbar color="primary" id="toolbar">
  <span>My Fabulous Shop App</span>
  <span class="spacer"></span>
  <span *ngIf="(panier | async).length">({{(panier | async).length}})</span>
  <button md-icon-button (click)="sidenav.toggle()" class="button">
    <md-icon>shopping_cart</md-icon>
  </button>
</md-toolbar>


<md-sidenav-container id="sidenav-container">

  <md-sidenav #sidenav id="sidenav" mode="side" align="end">
    <app-panier></app-panier>
  </md-sidenav>

  <div id="app-content">
    <app-articles></app-articles>
  </div>
  
</md-sidenav-container>